<div class="container">
  <h1 class="text-center fw-bold pb-3"><%= @list.name %></h1>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class:"mybtn2" %>
  <%= link_to 'Homepage', lists_path, class:"mybtn2" %>

  <ul class="list-group d-flex pt-4 gap-3">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item pb-3 shadow">
          <div class="d-flex flex-row gap-3 pb-3">
            <%= image_tag bookmark.movie.poster_url, class: 'imageposter'%>
            <div class="d-flex flex-column">
              <strong>Movie:</strong> <%= bookmark.movie.title %>
              <strong>Content:</strong> <%= bookmark.comment %>
            </div>
          </div>
            <%= link_to "delete bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "are you sure?"}, class: "mybtn d-flex justify-content-center align-items-center justify-self-start" %>
        </li>
      <% end %>
  </ul>
</div>
